# Aggregating Data

## Summary Statistics

> Summarise the data set 

### > data['col_name'].mean()

>> Tells the mean of the particular column 

### > data['col_name'].median()

### > data['col_name'].mode()

### > data['col_name'].min()

### > data['col_name'].max()

### > data['col_name'].var()

### > data['col_name'].std()

### > data['col_name'].sum()

### > data['col_name'].quantile()

> def pct30(colname):

>>>> return column.quantile(0.3)

### > dogs['weight_kg'].agg(pct30)

### > data[['col_1','col_2']].agg(pct30)

### > data['col_name'].cumsum()

>> Used to evaluate cumulative sum

### > data['col_name'].cummin()

### > data['col_name'].cumprod()

## Mean and median

Summary statistics are exactly what they sound like - they summarize many numbers in one statistic. For example, mean, median, minimum, maximum, and standard deviation are summary statistics. Calculating summary statistics allows you to get a better sense of your data, even if there's a lot of it.

sales is available and pandas is loaded as pd.

## Instructions

> Explore your new DataFrame first by printing the first few rows of the sales DataFrame.

> Print information about the columns in sales.

> Print the mean of the weekly_sales column.

> Print the median of the weekly_sales column.

In [36]:
import pandas as pd 
sales = pd.read_csv(r'C:\Users\Garvit\Desktop\Machine Learning\Datacamp\Cours_4_Data_Manipulation_With_Pandas\sales.csv', index_col = 0)
# Print the head of the sales DataFrame
print(sales.head())
print()
print()
print()
print()
#Print the info about the sales DataFrame
print(sales.info())
print()
print()
print()
print()
print()
print()
print()
# Print the mean of weekly_sales
print("Mean of walmart sales is => ", sales['weekly_sales'].mean())
print()
print()
print()
print()
# Print the median of weekly_sales
print("Median of walmart sales is => ",sales['weekly_sales'].median())

   store type  department        date  weekly_sales  is_holiday  \
0      1    A           1  2010-02-05      24924.50       False
1      1    A           1  2010-03-05      21827.90       False
2      1    A           1  2010-04-02      57258.43       False
3      1    A           1  2010-05-07      17413.94       False
4      1    A           1  2010-06-04      17558.09       False

   temperature_c  fuel_price_usd_per_l  unemployment
0       5.727778              0.679451         8.106
1       8.055556              0.693452         8.106
2      16.816667              0.718284         7.808
3      22.527778              0.748928         7.808
4      27.050000              0.714586         7.808




<class 'pandas.core.frame.DataFrame'>
Int64Index: 10774 entries, 0 to 10773
Data columns (total 9 columns):
store                   10774 non-null int64
type                    10774 non-null object
department              10774 non-null int64
date                    10774 non-null object
weekly_sales            10774 non-null float64
is_holiday              10774 non-null bool
temperature_c           10774 non-null float64
fuel_price_usd_per_l    10774 non-null float64
unemployment            10774 non-null float64
dtypes: bool(1), float64(4), int64(2), object(2)
memory usage: 768.1+ KB
None







Mean of walmart sales is =>  23843.950148505668




Median of walmart sales is =>  12049.064999999999

## Summarizing dates

Summary statistics can also be calculated on date columns that have values with the data type datetime64. Some summary statistics — like mean — don't make a ton of sense on dates, but others are super helpful, for example, minimum and maximum, which allow you to see what time range your data covers.

sales is available and pandas is loaded as pd.

## Instructions

> Print the maximum of the date column.

> Print the minimum of the date column.

In [17]:
print(sales.head())
print()
print("Minimum date is => ",sales['date'].min())
print()
print("Maximum date is => ",sales['date'].max())

   store type  department        date  weekly_sales  is_holiday  \
0      1    A           1  2010-02-05      24924.50       False
1      1    A           1  2010-03-05      21827.90       False
2      1    A           1  2010-04-02      57258.43       False
3      1    A           1  2010-05-07      17413.94       False
4      1    A           1  2010-06-04      17558.09       False

   temperature_c  fuel_price_usd_per_l  unemployment
0       5.727778              0.679451         8.106
1       8.055556              0.693452         8.106
2      16.816667              0.718284         7.808
3      22.527778              0.748928         7.808
4      27.050000              0.714586         7.808

Minimum date is =>  2010-02-05

Maximum date is =>  2012-10-26

## Efficient summaries

While pandas and NumPy have tons of functions, sometimes, you may need a different function to summarize your data.

The .agg() method allows you to apply your own custom functions to a DataFrame, as well as apply functions to more than one column of a DataFrame at once, making your aggregations super-efficient. For example,

df['column'].agg(function)
In the custom function for this exercise, "IQR" is short for inter-quartile range, which is the 75th percentile minus the 25th percentile. It's an alternative to standard deviation that is helpful if your data contains outliers.

sales is available and pandas is loaded as pd.

## Instructions 1/3

> Use the custom iqr function defined for you along with .agg() to print the IQR of the temperature_c column of sales.


> Update the column selection to use the custom iqr function with .agg() to print the IQR of temperature_c, fuel_price_usd_per_l, and unemployment, in that order.

> Update the aggregation functions called by .agg(): include iqr and np.median in that order.

In [18]:
# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)
    
# Print IQR of the temperature_c column
print(sales['temperature_c'].agg(iqr))

16.58333333333334

In [19]:
# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Update to print IQR of temperature_c, fuel_price_usd_per_l, & unemployment
print(sales[["temperature_c", 'fuel_price_usd_per_l', 'unemployment']].agg(iqr))

temperature_c           16.583333
fuel_price_usd_per_l     0.073176
unemployment             0.565000
dtype: float64

In [20]:
# Import NumPy and create custom IQR function
import numpy as np
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Update to print IQR and median of temperature_c, fuel_price_usd_per_l, & unemployment
print(sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg([iqr,np.median] ))

        temperature_c  fuel_price_usd_per_l  unemployment
iqr         16.583333              0.073176         0.565
median      16.966667              0.743381         8.099

## Cumulative statistics

Cumulative statistics can also be helpful in tracking summary statistics over time. In this exercise, you'll calculate the cumulative sum and cumulative max of a department's weekly sales, which will allow you to identify what the total sales were so far as well as what the highest weekly sales were so far.

A DataFrame called sales_1_1 has been created for you, which contains the sales data for department 1 of store 1. pandas is loaded as pd.

## Instructions

> Sort the rows of sales_1_1 by the date column in ascending order.

> Get the cumulative sum of weekly_sales and add it as a new column of sales_1_1 called cum_weekly_sales.

> Get the cumulative maximum of weekly_sales, and add it as a column called cum_max_sales.

> Print the date, weekly_sales, cum_weekly_sales, and cum_max_sales column

In [23]:
condn = (sales['store'] == 1)  & (sales['department'] == 1)
sales_1_1 = sales[condn]

   store type  department        date  weekly_sales  is_holiday  \
0      1    A           1  2010-02-05      24924.50       False
1      1    A           1  2010-03-05      21827.90       False
2      1    A           1  2010-04-02      57258.43       False
3      1    A           1  2010-05-07      17413.94       False
4      1    A           1  2010-06-04      17558.09       False

   temperature_c  fuel_price_usd_per_l  unemployment
0       5.727778              0.679451         8.106
1       8.055556              0.693452         8.106
2      16.816667              0.718284         7.808
3      22.527778              0.748928         7.808
4      27.050000              0.714586         7.808

In [24]:
# Sort sales_1_1 by date
sales_1_1 = sales_1_1.sort_values('date')
print(sales_1_1.head())

# Get the cumulative sum of weekly_sales, add as cum_weekly_sales col
sales_1_1['cum_weekly_sales'] = sales_1_1['weekly_sales'].cumsum()

# Get the cumulative max of weekly_sales, add as cum_max_sales col
sales_1_1['cum_max_sales'] =  sales_1_1['weekly_sales'].cummax()

# See the columns you calculated
print(sales_1_1[["date", "weekly_sales", "cum_weekly_sales", "cum_max_sales"]])

   store type  department        date  weekly_sales  is_holiday  \
0      1    A           1  2010-02-05      24924.50       False
1      1    A           1  2010-03-05      21827.90       False
2      1    A           1  2010-04-02      57258.43       False
3      1    A           1  2010-05-07      17413.94       False
4      1    A           1  2010-06-04      17558.09       False

   temperature_c  fuel_price_usd_per_l  unemployment
0       5.727778              0.679451         8.106
1       8.055556              0.693452         8.106
2      16.816667              0.718284         7.808
3      22.527778              0.748928         7.808
4      27.050000              0.714586         7.808
          date  weekly_sales  cum_weekly_sales  cum_max_sales
0   2010-02-05      24924.50          24924.50       24924.50
1   2010-03-05      21827.90          46752.40       24924.50
2   2010-04-02      57258.43         104010.83       57258.43
3   2010-05-07      17413.94         121424.77       57258.43
4   2010-06-04      17558.09         138982.86       57258.43
5   2010-07-02      16333.14         155316.00       57258.43
6   2010-08-06      17508.41         172824.41       57258.43
7   2010-09-03      16241.78         189066.19       57258.43
8   2010-10-01      20094.19         209160.38       57258.43
9   2010-11-05      34238.88         243399.26       57258.43
10  2010-12-03      22517.56         265916.82       57258.43
11  2011-01-07      15984.24         281901.06       57258.43

# Counting 

### data.drop_duplicates(subset = 'column_name')

>> Uesed to remove the duplicates 

###  new_data = data.drop_duplicates(subset = ['col_1','col_2'])

>> Used to remove the duplicates considering more than 2 columns 

### data['col_name'].value_counts()

>> To count the values in the particular column how many times its  occuring

### data['col_name'].value_counts(sort = True)

>> To count the values in the particular column how many times its  occuring and to sort them in ascending order and descending order 


###  data['col_name'].value_counts(normalize = True)

>> To normalize the value in proportion to total

## Dropping duplicates
Removing duplicates is an essential skill to get accurate counts because often, you don't want to count the same thing multiple times. In this exercise, you'll create some new DataFrames using unique values from sales.

sales is available and pandas is imported as pd.

## Instructions

> Remove rows of sales with duplicate pairs of store and type and save as store_types and print the head.

> Remove rows of sales with duplicate pairs of store and department and save as store_depts and print the head.

> Subset the rows that are holiday weeks using the is_holiday column, and drop the duplicate dates, saving as holiday_dates.

> Select the date column of holiday_dates, and print.

In [32]:

# Drop duplicate store/type combinations
store_types = sales.drop_duplicates(subset = ['store','type'])
print(store_types.head())
print()
print()
print()
print()
# Drop duplicate store/department combinations
store_depts = sales.drop_duplicates(subset = ['store','department'])
print(store_depts.head())
print()
print()
print()
print()
# Subset the rows where is_holiday is True and drop duplicate dates
holiday_dates = sales[sales['is_holiday'] == True].drop_duplicates(subset = 'date')

# Print date col of holiday_dates
print(holiday_dates['date'])

      store type  department        date  weekly_sales  is_holiday  \
0         1    A           1  2010-02-05      24924.50       False
901       2    A           1  2010-02-05      35034.06       False
1798      4    A           1  2010-02-05      38724.42       False
2699      6    A           1  2010-02-05      25619.00       False
3593     10    B           1  2010-02-05      40212.84       False

      temperature_c  fuel_price_usd_per_l  unemployment
0          5.727778              0.679451         8.106
901        4.550000              0.679451         8.324
1798       6.533333              0.686319         8.623
2699       4.683333              0.679451         7.259
3593      12.411111              0.782478         9.765




    store type  department        date  weekly_sales  is_holiday  \
0       1    A           1  2010-02-05      24924.50       False
12      1    A           2  2010-02-05      50605.27       False
24      1    A           3  2010-02-05      13740.12       False
36      1    A           4  2010-02-05      39954.04       False
48      1    A           5  2010-02-05      32229.38       False

    temperature_c  fuel_price_usd_per_l  unemployment
0        5.727778              0.679451         8.106
12       5.727778              0.679451         8.106
24       5.727778              0.679451         8.106
36       5.727778              0.679451         8.106
48       5.727778              0.679451         8.106




498     2010-09-10
691     2011-11-25
2315    2010-02-12
6735    2012-09-07
6810    2010-12-31
6815    2012-02-10
6820    2011-09-09
Name: date, dtype: object

### Counting categorical variables
Counting is a great way to get an overview of your data and to spot curiosities that you might not notice otherwise. In this exercise, you'll count the number of each type of store and the number of each department number using the DataFrames you created in the previous exercise:

#### Drop duplicate store/type combinations
store_types = sales.drop_duplicates(subset=["store", "type"])

####  Drop duplicate store/department combinations
store_depts = sales.drop_duplicates(subset=["store", "department"])
The store_types and store_depts DataFrames you created in the last exercise are available, and pandas is imported as pd.

### Instructions

> Count the number of stores of each store type in store_types.

> Count the proportion of stores of each store type in store_types.

> Count the number of different departments in store_depts, sorting the counts in descending order.

> Count the proportion of different departments in store_depts, sorting the proportions in descending order.

In [41]:
# Count the number of stores of each type
store_counts = store_types['type'].value_counts(sort = True)
print(store_counts)
#print(sales.head())

print()
print()
print()
print()
# Get the proportion of stores of each type

store_props = store_types['type'].value_counts(normalize = True)
print(store_props)

print()
print()
print()
print()

# Count the number of each department number and sort
dept_counts_sorted = sales['department'].value_counts(sort = True)
print(dept_counts_sorted)

print()
print()
print()
print()
# Get the proportion of departments of each number and sort
dept_props_sorted = sales['department'].value_counts(sort=True, normalize=True)
print(dept_props_sorted)

A    11
B     1
Name: type, dtype: int64




A    0.916667
B    0.083333
Name: type, dtype: float64




95    144
91    144
18    144
26    144
34    144
42    144
58    144
74    144
82    144
90    144
98    144
3     144
11    144
27    144
35    144
59    144
87    144
10    144
2     144
97    144
80    144
16    144
24    144
32    144
40    144
56    144
72    144
1     144
81    144
9     144
     ...
55    144
71    144
79    144
93    144
8     144
28    144
12    144
20    144
29    144
21    144
13    144
5     144
92    144
60    144
52    144
44    144
36    144
19    140
96    138
45    126
99    123
37    120
47    114
51     99
48     90
50     72
78     56
77     39
39      7
43      2
Name: department, Length: 80, dtype: int64




95    0.013366
91    0.013366
18    0.013366
26    0.013366
34    0.013366
42    0.013366
58    0.013366
74    0.013366
82    0.013366
90    0.013366
98    0.013366
3     0.013366
11    0.013366
27    0.013366
35    0.013366
59    0.013366
87    0.013366
10    0.013366
2     0.013366
97    0.013366
80    0.013366
16    0.013366
24    0.013366
32    0.013366
40    0.013366
56    0.013366
72    0.013366
1     0.013366
81    0.013366
9     0.013366
        ...
55    0.013366
71    0.013366
79    0.013366
93    0.013366
8     0.013366
28    0.013366
12    0.013366
20    0.013366
29    0.013366
21    0.013366
13    0.013366
5     0.013366
92    0.013366
60    0.013366
52    0.013366
44    0.013366
36    0.013366
19    0.012994
96    0.012809
45    0.011695
99    0.011416
37    0.011138
47    0.010581
51    0.009189
48    0.008353
50    0.006683
78    0.005198
77    0.003620
39    0.000650
43    0.000186
Name: department, Length: 80, dtype: float64

# Grouped Summary Statistics 

## data.groupby('col_name')['int_col'].mean()

>> mean weight of each dog color b


## data.groupby('col_name')['int_col'].agg(min,maz,sum)

>> TO generate multiple results 

## data.groupby(['col_1','col_2'])['int_col'].agg(min,maz,sum)

## data.groupby(['col_1','col_2'])[['col_1','col_2']].agg(min,maz,sum)

### What percent of sales occurred at each store type?
While .groupby() is useful, you can calculate grouped summary statistics without it.

Walmart distinguishes three types of stores: "supercenters," "discount stores," and "neighborhood markets," encoded in this dataset as type "A," "B," and "C." In this exercise, you'll calculate the total sales made at each store type, without using .groupby(). You can then use these numbers to see what proportion of Walmart's total sales were made at each type.

sales is available and pandas is imported as pd.

### Instructions

> Calculate the total weekly_sales over the whole dataset.

> Subset for type "A" stores, and calculate their total weekly sales.

> Do the same for type "B" and type "C" stores.

> Combine the A/B/C results into a list, and divide by sales_all to get the proportion of sales by type.

In [50]:
# Calc total weekly sales
sales_all = sales["weekly_sales"].sum()
print("Total weekly sales for the whole data  set is  = ", sales_all)

sales_A = sales[sales["type"] == "A"]["weekly_sales"].sum()
print("Total weekly sales for the type A store is  = ", sales_A)

# Subset for type B stores, calc total weekly sales
sales_B = sales[sales["type"] == "B"]["weekly_sales"].sum()
print("Total weekly sales for the type B store is  = ", sales_B)


# Subset for type C stores, calc total weekly sales
sales_C = sales[sales["type"] == "C"]["weekly_sales"].sum()
print("Total weekly sales for the type C  store is = ", sales_C)
# Get proportion for each type
sales_propn_by_type = [sales_A, sales_B, sales_C] / sales_all
print(sales_propn_by_type)

Total weekly sales for the whole data  set is  =  256894718.89999998
Total weekly sales for the type A store is  =  233716315.01
Total weekly sales for the type B store is  =  23178403.89
Total weekly sales for the type C  store is =  0.0
[0.9097747 0.0902253 0.       ]

### Calculations with .groupby()
The .groupby() method makes life much easier. In this exercise, you'll perform the same calculations as last time, except you'll use the .groupby() method. You'll also perform calculations on data grouped by two variables to see if sales differ by store type depending on if it's a holiday week or not.

sales is available and pandas is loaded as pd.

## Instructions 1/2

> Group sales by "type", take the sum of "weekly_sales", and store as sales_by_type.

> Calculate the proportion of sales at each store type by dividing by the sum of sales_by_type. Assign to sales_propn_by_type.

> Group sales by "type" and "is_holiday", take the sum of weekly_sales, and store as sales_by_type_is_holiday.

In [56]:
# Group by type; calc total weekly sales
sales_by_type = sales.groupby("type")["weekly_sales"].sum()
# print(sales_by_type)
# print(sales_by_type['A'])
# Get proportion for each type
sales_propn_by_type = sales_by_type /( sales_by_type['A'] + sales_by_type['B'])
print(sales_propn_by_type)

type
A    0.909775
B    0.090225
Name: weekly_sales, dtype: float64

In [58]:
# From previous step
sales_by_type = sales.groupby("type")["weekly_sales"].sum()

# Group by type and is_holiday; calc total weekly sales
sales_by_type_is_holiday = sales.groupby(["type", "is_holiday"])["weekly_sales"].sum()
print(sales_by_type_is_holiday)

type  is_holiday
A     False         2.336927e+08
      True          2.360181e+04
B     False         2.317678e+07
      True          1.621410e+03
Name: weekly_sales, dtype: float64

### Multiple grouped summaries

Earlier in this chapter, you saw that the .agg() method is useful to compute multiple statistics on multiple variables. It also works with grouped data. NumPy, which is imported as np, has many different summary statistics functions, including: np.min, np.max, np.mean, and np.median.

sales is available and pandas is imported as pd.

### Instructions

> Import numpy with the alias np.

> Get the min, max, mean, and median of weekly_sales for each store type using .groupby() and .agg(). Store this as sales_stats. Make sure to use numpy functions!

> Get the min, max, mean, and median of unemployment and fuel_price_usd_per_l for each store type. Store this as unemp_fuel_stats.

In [67]:
# Import numpy with the alias np
import numpy as np

# For each store type, aggregate weekly_sales: get min, max, mean, and median
sales_stats = sales.groupby("type")["weekly_sales"].agg([np.min, np.max, np.mean, np.median])

# Print sales_stats
print(sales_stats)
print()
print()
print()

# For each store type, aggregate unemployment and fuel_price_usd_per_l: get min, max, mean, and median
unemp_fuel_stats = sales.groupby("type")[["unemployment", "fuel_price_usd_per_l"]].agg([np.min, np.max, np.mean, np.median])

# Print unemp_fuel_stats
print(unemp_fuel_stats)

        amin       amax          mean    median
type
A    -1098.0  293966.05  23674.667242  11943.92
B     -798.0  232558.51  25696.678370  13336.08



     unemployment                         fuel_price_usd_per_l            \
             amin   amax      mean median                 amin      amax
type
A           3.879  8.992  7.972611  8.067             0.664129  1.107410
B           7.170  9.765  9.279323  9.199             0.760023  1.107674


          mean    median
type
A     0.744619  0.735455
B     0.805858  0.803348

# Pivot Tables 

## data.pivot_table(values = "some_val", index = "col_name")

## data.pivot_table(values = "some_val", index = "col_name", aggfunc = np.median)

## data.pivot_table(values = "some_val", index = "col_name", aggfunc = [np.mean,np,median])


## data.pivot_table(values = "some_val", index = "col_name", columns = "breed")

## data.pivot_table(values = "some_val", index = "col_name", columns = "breed", fill_value =  0, margins = True)

### Pivoting on one variable

Pivot tables are the standard way of aggregating data in spreadsheets. In pandas, pivot tables are essentially just another way of performing grouped calculations. That is, the .pivot_table() method is just an alternative to .groupby().

In this exercise, you'll perform calculations using .pivot_table() to replicate the calculations you performed in the last lesson using .groupby().

sales is available and pandas is imported as pd.

### Instructions 1/3

> Get the mean weekly_sales by type using .pivot_table() and store as mean_sales_by_type.


> Get the mean and median (using NumPy functions) of weekly_sales by type using .pivot_table() and store as mean_med_sales_by_type.

> Get the mean of weekly_sales by type and is_holiday using .pivot_table() and store as mean_sales_by_type_holiday.

> Get the mean and median (using NumPy functions) of weekly_sales by type using .pivot_table() and store as mean_med_sales_by_type.

> Get the mean of weekly_sales by type and is_holiday using .pivot_table() and store as mean_sales_by_type_holiday.

In [74]:
# Pivot for mean weekly_sales for each store type
mean_sales_by_type = sales.pivot_table(index = "type" , values = "weekly_sales")

# Print mean_sales_by_type
print(mean_sales_by_type)

      weekly_sales
type
A     23674.667242
B     25696.678370

In [75]:
# Pivot for mean weekly_sales for each store type
mean_sales_by_type = sales.pivot_table(index = "type" , values = "weekly_sales", aggfunc=[np.mean,np.median])

# Print mean_sales_by_type
print(mean_sales_by_type)

              mean       median
      weekly_sales weekly_sales
type
A     23674.667242     11943.92
B     25696.678370     13336.08

In [80]:
# is_holiday
# Pivot for mean weekly_sales by store type and holiday 
mean_sales_by_type_holiday =sales.pivot_table(index ="type" , columns = 'is_holiday', values = "weekly_sales")
# Print mean_sales_by_type_holiday
print(mean_sales_by_type_holiday)

is_holiday         False      True
type
A           23768.583523  590.04525
B           25751.980533  810.70500

## Fill in missing values and sum values with pivot tables

The .pivot_table() method has several useful arguments, including fill_value and margins.

fill_value replaces missing values with a real value (known as imputation). What to replace missing values with is a topic big enough to have its own course (Dealing with Missing Data in Python), but the simplest thing to do is to substitute a dummy value.
margins is a shortcut for when you pivoted by two variables, but also wanted to pivot by each of those variables separately: it gives the row and column totals of the pivot table contents.
In this exercise, you'll practice using these arguments to up your pivot table skills, which will help you crunch numbers more efficiently!

sales is available and pandas is imported as pd.

## Instructions 1/2

> Print the mean weekly_sales by department and type, filling in any missing values with 0.


> Print the mean weekly_sales by department and type, filling in any missing values with 0 and summing all rows and columns.

In [83]:
# Print mean weekly_sales by department and type; fill missing values with 0
print(sales.pivot_table(index = 'type',columns =  'department', values = 'weekly_sales',fill_value =  0))

department            1              2             3             4   \
type
A           30961.725379   67600.158788  17160.002955  44285.399091
B           44050.626667  112958.526667  30580.655000  51219.654167

department            5             6             7             8   \
type
A           34821.011364   7136.292652  38454.336818  48583.475303
B           63236.875000  10717.297500  52909.653333  90733.753333

department            9             10     ...                90  \
type                                       ...
A           30120.449924  30930.456364     ...      85776.905909
B           66679.301667  48595.126667     ...      14780.210000

department            91             92            93            94  \
type
A           70423.165227  139722.204773  53413.633939  60081.155303
B           13199.602500   50859.278333   1466.274167    161.445833

department             95            96            97            98  \
type
A           123933.787121  21367.042857  28471.266970  12875.423182
B            77082.102500   9528.538333   5828.873333    217.428333

department          99
type
A           379.123659
B             0.000000

[2 rows x 80 columns]

In [89]:
# Print the mean weekly_sales by department and type; fill missing values with 0s; sum all rows and cols
print(sales.pivot_table(values="weekly_sales", index="department", columns="type", fill_value =  0, margins = True))

type                    A              B            All
department
1            30961.725379   44050.626667   32052.467153
2            67600.158788  112958.526667   71380.022778
3            17160.002955   30580.655000   18278.390625
4            44285.399091   51219.654167   44863.253681
5            34821.011364   63236.875000   37189.000000
6             7136.292652   10717.297500    7434.709722
7            38454.336818   52909.653333   39658.946528
8            48583.475303   90733.753333   52095.998472
9            30120.449924   66679.301667   33167.020903
10           30930.456364   48595.126667   32402.512222
11           23028.312727   35488.429167   24066.655764
12            6786.840606    9656.520000    7025.980556
13           51398.168561   67213.587500   52716.120139
14           22457.695303   40400.020000   23952.889028
16           25202.751894   29558.182500   25565.704444
17           16167.586136   27675.351667   17126.566597
18           12201.771212   17361.347500   12631.735903
19            1560.951719    3365.895000    1715.661143
20            8312.070227   16191.810000    8968.715208
21            9324.387197   10368.968333    9411.435625
22           14225.324167   26044.797500   15210.280278
23           29350.745076   63960.273333   32234.872431
24            8204.587576   15376.829167    8802.274375
25           13382.164242   20619.285000   13985.257639
26           11254.311212   17535.457500   11777.740069
27            2079.160455    4553.720833    2285.373819
28             968.247348    1422.762500    1006.123611
29            6859.108485   14999.843333    7537.503056
30            5403.619773   12442.080000    5990.158125
31            3221.001818    6151.995000    3465.251250
...                   ...            ...            ...
54             221.288030     551.016667     248.765417
55           15368.005985   20420.726667   15789.066042
56            5529.171136     992.310000    5151.099375
58            6510.454621    5156.833333    6397.652847
59            1358.490530    2536.538333    1456.661181
60             461.176591     577.850000     470.899375
67           12064.737500   13327.714167   12169.985556
71            7486.394318   15945.855000    8191.349375
72           72767.860227  145237.726667   78807.015764
74           22097.090152   44480.321667   23962.359444
77             370.651316    1590.000000     401.916667
78               8.893878       1.714286       7.996429
79           40643.113106   39802.038333   40573.023542
80           22425.941667     116.680000   20566.836528
81           28417.831061   11084.591667   26973.394444
82           21698.068561   21943.495833   21718.520833
83            7020.960985     327.011667    6463.131875
85            3593.235379    2887.316667    3534.408819
87           22549.672045   21829.132500   22489.627083
90           85776.905909   14780.210000   79860.514583
91           70423.165227   13199.602500   65654.535000
92          139722.204773   50859.278333  132316.960903
93           53413.633939    1466.274167   49084.687292
94           60081.155303     161.445833   55087.846181
95          123933.787121   77082.102500  120029.480069
96           21367.042857    9528.538333   20337.607681
97           28471.266970    5828.873333   26584.400833
98           12875.423182     217.428333   11820.590278
99             379.123659       0.000000     379.123659
All          23674.667242   25696.678370   23843.950149

[81 rows x 3 columns]